@import "variable";
@import "functions";

@mixin button {
  &-default {
    border: 0;
    padding: rem(20);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
    background: $theme-color;
    border-radius: rem(8);
    font-weight: 700;
    color: white;
    font-family: $theme-font;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: $theme-hover-color;
    }

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }
  &-link {
    border: 0;
    padding: rem(20);
    background: transparent;
    font-weight: 700;
    color: $white;
    font-family: $theme-font;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: darken($white, 10%);
      text-decoration: underline;
    }
  }

  &-light {
    border: 0;
    padding: rem(20);
    box-shadow: 0px 4px 4px 0px rgba(85, 85, 85, 0.25) inset;
    background: $white;
    border-radius: rem(8);
    font-weight: 700;
    color: $bg-color;
    font-family: $theme-font;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: darken($white, 10%);
    }
  }

  &-dark {
    border: 0;
    padding: rem(20);
    box-shadow: 0px 4px 4px 0px rgba(156, 156, 156, 0.25) inset;
    background: $bg-color;
    border-radius: rem(8);
    font-weight: 700;
    color: $white;
    font-family: $theme-font;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: darken($bg-color, 10%);
    }
  }

}

@mixin gameCard {
  background: $theme-color;
  font-family: $theme-font;
  font-size: 18px;
  font-weight: 800;
  width: 255px;
  height: 353px;
  padding: rem(20);
  border-radius: rem(10);
  color:$white;
  line-height: 160%;
  &-word {
    background: $white;
    color: $bg-color;
    font-family: $theme-font;
    font-size: 18px;
    font-weight: 700;
    width: 255px;
    height: 353px;
    padding: rem(20);
    border-radius: rem(10);
    line-height: 160%;

  }
}

@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin col($size) {
  width: calc(100% / #{$grid-columns} * #{$size} - #{$gutter} / #{$grid-columns});
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

@mixin grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($gutter / 2);
  margin-right: -($gutter / 2);

  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      @include col($i);
    }
  }
}