@import "variable";
@import "functions";

.rounded {
  border-radius: rem(999);
}

a {
  color: inherit;
  text-decoration: none;
}

@mixin button {
  &-default {
    border: 0;
    padding: rem(14);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
    background: $theme-color;
    border-radius: rem(8);
    font-weight: 700;
    color: white;
    font-family: $theme-font;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: $theme-hover-color;
    }

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }
  &-link {
    border: 0;
    padding: rem(14);
    background: transparent;
    font-weight: 700;
    color: $white;
    font-family: $theme-font;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: darken($white, 10%);
      text-decoration: underline;
    }
  }

  &-light {
    border: 0;
    padding: rem(14);
    box-shadow: 0px 4px 4px 0px rgba(85, 85, 85, 0.25) inset;
    background: $white;
    border-radius: rem(8);
    font-weight: 700;
    color: $bg-color;
    font-family: $theme-font;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: darken($white, 10%);
    }
  }

  &-dark {
    border: 0;
    padding: rem(14);
    box-shadow: 0px 4px 4px 0px rgba(156, 156, 156, 0.25) inset;
    background: $bg-color;
    border-radius: rem(8);
    font-weight: 700;
    color: $white;
    font-family: $theme-font;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: darken($bg-color, 10%);
    }
  }

}

@mixin gameCard {
  background: $theme-color;
  font-family: $theme-font;
  font-size: 18px;
  font-weight: 800;
  min-width: 255px;
  max-width: 255px;
  height: 353px;
  padding: rem(20);
  border-radius: rem(10);
  color:$white;
  line-height: 160%;
  &-word {
    background: $white;
    color: $bg-color;
    font-family: $theme-font;
    font-size: 18px;
    font-weight: 700;
    width: 255px;
    height: 353px;
    padding: rem(20);
    border-radius: rem(10);
    line-height: 160%;

  }
}

@mixin aboutCard {
  padding: rem(32);
  border: 1px solid #E5E7EB;
  border-radius: rem(8);

  @media screen and (max-width: $md) {
    padding: rem(24);
  }

  h3 {
    font-size: rem(24);
    font-weight: 700;
    margin-bottom: rem(16);

    @media screen and (max-width: $md) {
      font-size: rem(20);
    }

  }

  p {
    font-size: rem(16);
    font-weight: 400;
    color: $text-description;

    @media screen and (max-width: $md) {
      font-size: rem(14);
    }

  }
}

@mixin faqCard {
  cursor: pointer;
  padding: rem(24);
  background: $white;
  border-radius: rem(8);
  transition: 0.3s;

  &.extended {
    .title {
      margin-bottom: rem(16);
    }
  }

  .title {
    font-size: rem(16);
    font-weight: 600;

  }
}


@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}