@import "reset";
@import "variable";
@import "functions";
@import "mixins";
@import "components";
@import "layouts";

*, body {
  font-family: $theme-font;
}

body {

  #page_home {
    .noise {
      display: flex;
      align-items: center;
      position: relative;
      padding-bottom: 80px;

      .hB {
        max-width: 500px;
        margin: 0 auto;
        &-title {
          width: 100%;
          font-weight: 700;
          margin-bottom: 1.5rem;
          color: $title-color;
          font-size: rem(48);
          text-align: center;

          @media screen and (max-width: $md) {
            font-size: rem(36);
          }
        }

        &-description {
          color: #777777;
          font-size: rem(16);
          margin-bottom: 2rem;
          text-align: center;
        }
      }

      .buttonSection {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
      }

      .cardSection {
        position: relative;
        min-height: 400px;

        > * {
          top: 50px;

          &:first-child {
            position: absolute;
            left: 35%;
            transform: translateX(-50%) rotate(-18deg);
          }

          &:last-child {
            position: absolute;
            right: 30%;
            transform: translateX(50%) rotate(18deg);
            z-index: 10;

          }

        }
      }
    }


    .piment {
      padding: rem(80) 0;

      @media screen and (max-width: $lg) {
        padding: rem(40) 0;
      }

      .grid {
        gap: rem(16);
        margin-bottom: 1rem;

        .grid_cols {
          grid-column: span 4 / span 4;

          @media screen and (max-width: $lg) {
            grid-column: span 12 / span 12;
          }
        }


      }

      .flex {
        display: flex;
        justify-content: center;
      }


    }

    .faq {
      padding: rem(80) 0;

      .faq-container {
        display: flex;
        flex-direction: column;
        gap: rem(16);
        max-width: 600px;
        margin: 0 auto;
      }
    }

    .join-party {
      padding: rem(80) 0;

      .max-party {
        max-width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;

        input {
          @include Input;
        }

        button {
          width: fit-content;
        }
      }
    }
  }

  #page_room {
    padding: 1rem;

    .title {
      font-size: rem(24);
      font-weight: 700;
      margin-bottom: 2rem;
      color: $white;
    }

    #players {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      margin-bottom: 1rem;
      .player-item {
        background: $box-bg-color;
        padding: 1.5rem;
        border-radius: 1rem;
        flex-direction: column;
        border: $box-border-color;
        gap: 0.5rem;
        color: white;
        width: 200px;
      }
    }

  }

  #page_tv {
    #tv_loaded {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      .start {
        color: white;
        font-size: 2rem;
        font-weight: bold;
      }

      .nav {
        display: flex;
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
        gap: 1rem;
        width: fit-content;

        .nav-item {
          background: #323030;
          padding: 1.5rem;
          border-radius: 1rem;
          display: flex;
          flex-direction: column;
          border: 1px solid #ffffff0d;
          gap: 0.5rem;
          color: #b6b6b6;

          span {
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
            transition: 0.3s;
          }
        }
      }
    }

    .aside {
      position: absolute;
      right: 20px;
      top: 20px;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .aside-item {
        background: $box-bg-color;
        padding: 1.5rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        border: $box-border-color;
        gap: 0.5rem;
        color: white;
        width: 200px;
      }
    }
  }

  #page_login {
    padding: rem(80) 0;

    h2 {
      @include secondTitle;
    }

    form {
      max-width: 300px;
      margin: 0 auto;

      @media screen and (max-width: $md) {
        max-width: 100%;
        padding: 0 1rem;
      }

      .form-group {
        margin-bottom: 15px;

        label {
          display: block;
          margin-bottom: 0.5rem;
          color: $title-color;
        }

        input {
          @include Input;
        }

      }

      .register {
        display: block;
        font-size: 14px;
        color: $title-color;
        margin-top: 0.75rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

}

.dark-mode body {
  background: #141414;
  #page_home {
    .noise {
      .hB {
        &-description {
          color: #a3a3a3;
        }
      }
    }
    .piment {
      .about_card {
        color: #dfdcd7;
      }
      p {
        color: #a3a3a3;
      }
    }
  }
}

.grid {
  @include grid;
}

h2 {
  @include secondTitle;
}

.dark-mode h2, .dark-mode h1 {
  color: #dfdcd7 !important;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 100%;


  @include mq(sm) {
    max-width: $col-sm;
  }

  @include mq(md) {
    max-width: $col-md;
  }

  @include mq(lg) {
    max-width: $col-lg;
  }

  @include mq(xl) {
    max-width: $col-xl;
  }
}